<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/vendor/css/index.css" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75 fixed-top" >
    <div class="container">
        <a class="navbar-brand" href={% url 'home' %}>Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'products' %}>Products <i class="fas fa-shopping-bag"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users/login.html">Log in <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="users/profile.html">Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="orders/orders.html">Orders</a></li>
                        <li><a class="dropdown-item" href="#">Admin-panel</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main class="flex-grow-1 mt-5 pt-4">
    <!-- Хлебные крошки -->
    {% block breadcrumbs %}
    {% endblock %}

    <!-- Основной контент -->
    {% block content %}
    {% endblock %}

    {% block navigation %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="py-2 bg-dark bg-opacity-75">
    <div class="container text-center">
        <p class="mb-3 text-white">Copyright &copy; Store 2022</p>

        <!-- Иконки соцсетей -->
        <div class="d-flex justify-content-center gap-4">
            <a href="https://github.com/your_username" class="text-white fs-4" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/your_username" class="text-white fs-4" target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/your_username" class="text-white fs-4" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>

<!-- Конец footer'а и страницы -->

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-q6LZw6xw+2NRRDKcZqqed4AsX93E9u/1pFCUtWj5Zz/v6z4uFkF7w1xUrx4k0UGB"
        crossorigin="anonymous"></script>

<!-- FontAwesome script -->
<script src="/static/vendor/fontawesome/fontawesome-icons.js" crossorigin="anonymous"></script>
</body>
</html>
